body {
  background: grey;
  color: white;
}

.login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.new-msg {
display: block;
}

p {
  margin: 5px;
}

.view-msg-button {
  display: inline-block;
  margin-left: 10px;
}

.msg-div {
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: darkgray;
  border-radius: 5px;
  padding: 5px;
}

.msg-body {
  margin: 0px;
  font-size: 14px;
  padding: 5px;
  background: gray;
  border-radius: 5px;
  margin-left: 10px;
}

.msg-title {
  font-size: 18px;
}

.username-txt {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: darkgrey;
}
